@model CinemaWebApp.Models.Reservation

@{
    ViewData["Title"] = "Reservation";
}
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            First Name
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Customer.User.FirstName
        </dd>
        <dt class = "col-sm-2">
                    Last Name
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Customer.User.LastName
        </dd>
        <dt class="col-sm-2">
            Screening
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Screening.Id
        </dd>
        <dt class="col-sm-2">
            Movie
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Screening.Movie.Title
        </dd>
        <dt class="col-sm-2">
            Room
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Screening.ScreeningRoom.Name
        </dd>
        <dt class="col-sm-2">
            Date and Time
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Screening.StartTime
        </dd>
    </dl>
</div>
