<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CinemaWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cinema</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" @(IsNotAuthenticated() ? "" : "hidden")>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignIn">Sign in</a>
                        </li>
                        <li class="nav-item" @(IsNotAuthenticated() ? "" : "hidden")>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignUp">Sign up</a>
                        </li>
                        <li class="nav-item" @(!IsNotAuthenticated() ? "" : "hidden")>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a>
                        </li>
                        <li class="nav-item" @(IsContentAdminAndMoviesController() ? "" : "hidden")>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Screenings" asp-action="Index">Screenings</a>
                        </li>
                        <li class="nav-item" @(IsContentAdminAndScreeningsController() ? "" : "hidden")>
                            <a class="nav-link text-dark" asp-area="" asp-controller="ContentAdmins" asp-action="Index">Movies</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col text-start">
                    &copy; 2024 - Cinema Web Application
                </div>
                <div class="col text-end">
                    <a href="https://github.com/Apostolis2002" target="_blank">Apostolis Siampanis</a> |
                    <a href="https://github.com/thkox" target="_blank">Theodoros Koxanoglou</a> |
                    <a href="https://github.com/dimitrisstyl7" target="_blank">Dimitris Stylianou</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@functions {
    private bool IsNotAuthenticated()
    {
        var currentPath = Context.Request.Path.ToString();
        return currentPath.Equals("/") || currentPath.StartsWith("/Home") || currentPath.StartsWith("/Account");
    }
    private bool IsContentAdminAndMoviesController()
    {
        var currentPath = Context.Request.Path.ToString();
        return currentPath.StartsWith("/ContentAdmins") || currentPath.StartsWith("/Movies");
    }
    private bool IsContentAdminAndScreeningsController()
    {
        var currentPath = Context.Request.Path.ToString();
        return currentPath.StartsWith("/Screenings");
    }
};