@model IEnumerable<IGrouping<Movie, Screening>>

@{
    ViewData["Title"] = "Cinema Program";
}

<h1>Program</h1>

@foreach (var group in Model)
{
    <br />
    <h3 class="text-success">@group.Key.Title</h3>

    <table class="table table-striped">

        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(modelItem => group.Key.Content)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => group.Key.Description)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => group.Key.Duration)
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => group.Key.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => group.Key.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => group.Key.Duration)
                </td>       
            </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItem => group.First().ScreeningRoom.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => group.First().StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => group.First().RemainingNoOfSeats)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in group)
            {
                <tr>
                    <td class="col-4">
                        @Html.DisplayFor(modelItem => item.ScreeningRoom.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RemainingNoOfSeats)
                    </td>
                    @if(item.RemainingNoOfSeats > 0)
                    {
                        <td>
                            <a asp-action="BookTickets" asp-controller="Reservations" asp-route-screeningId="@item.Id">Book Tickets</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <p class="text-danger">Sold Out</p>
                        </td>
                    }

                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>
}

